QBCH_api/xsd/2/qcb_answer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="qcb_common.xsd"/>
	<xs:element name="ОтветНаЗапросСведений">
		<xs:annotation>
			<xs:documentation>Сведения о среднемесячных платежах и/или о запрете (снятии запрета)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Сведения" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Содержание ответа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ТитульнаяЧасть" type="ТипСубъектТитул">
								<xs:annotation>
									<xs:documentation>Титульная часть ответа</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="КБКИ" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>КБКИ - источник информации.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Ошибка">
											<xs:annotation>
												<xs:documentation>Описание ошибки</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="Код" type="xs:integer" use="required">
															<xs:annotation>
																<xs:documentation>Код ошибки</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="СубъектНеНайден">
											<xs:annotation>
												<xs:documentation>Субъект в соответствующем КБКИ не найден</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:sequence>
											<xs:choice minOccurs="0">
												<xs:element name="ОбязательствНет">
													<xs:annotation>
														<xs:documentation>В КБКИ отсутсвует информация о действующих обязательствах</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Обязательства">
													<xs:annotation>
														<xs:documentation>Действующие обязательства субъекта</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="БКИ" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>БКИ - источник информации</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Договор" maxOccurs="unbounded">
																			<xs:annotation>
																				<xs:documentation>Сведения о договоре денежного займа (кредита) или поручительстве по денежному займу (кредиту)</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="СреднемесячныйПлатеж" type="ТипСреднемесячныйПлатеж">
																						<xs:annotation>
																							<xs:documentation>Величина среднемесячного платежа по договору денежного займа (кредита) или поручительства по денежному займу (кредиту)</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																				<xs:attribute name="УИД" type="ТипУИД" use="required">
																					<xs:annotation>
																						<xs:documentation>Уникальный идентификатор договора (сделки)</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																				<xs:attribute name="Представлено" type="xs:date" use="required">
																					<xs:annotation>
																						<xs:documentation>Дата последнего представления сведений о договоре (сделке)</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="ОГРН" use="required">
																		<xs:annotation>
																			<xs:documentation>ОГРН БКИ - источника информации</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
											<xs:choice>
												<xs:element name="СведенияОЗапретеНеПредоставляются">
													<xs:annotation>
														<xs:documentation>сведения о запрете (снятии запрета) не предоставляются всвязи с отсутствием ИНН или признак проверки содержит код "0"</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="СведенийОЗапретеНет">
													<xs:annotation>
														<xs:documentation>Сведения о запрете (снятии запрета) субъекта отсутствуют</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="УсловияЗапрета">
													<xs:annotation>
														<xs:documentation>Сведения о запрете (снятии запрета) субъекта кредитной истории</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Условие" type="ТипУсловиеЗапрета" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Условие запрета/снятие запрета</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:sequence>
									</xs:choice>
									<xs:attribute name="ОГРН" use="required">
										<xs:annotation>
											<xs:documentation>ОГРН КБКИ - источника информации</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ПоСостояниюНа" type="xs:dateTime" use="required">
										<xs:annotation>
											<xs:documentation>Дата и время по состоянию на которые подготовлен ответ</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИдентификаторОтвета" type="ТипИдентификатор">
										<xs:annotation>
											<xs:documentation>Идентификатор ответа КБКИ - источника информации</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ПорядковыйНомер" use="required">
							<xs:annotation>
								<xs:documentation>Порядковый номер запроса в пакете запроса</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Версия" use="required" fixed="2.0">
				<xs:annotation>
					<xs:documentation>Версия схемы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ИдентификаторЗапроса" type="ТипИдентификатор" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, в ответ на который подготовлен данный ответ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаЗапроса" use="required">
				<xs:annotation>
					<xs:documentation>Дата запроса на который подготовлен настоящий ответ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ИдентификаторОтвета" type="ТипИдентификатор" use="required">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор ответа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ОГРН" type="ТипОГРН" use="required">
				<xs:annotation>
					<xs:documentation>ОГРН КБКИ сформировавшего ответ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипОтвета" type="СправочникСпособыЗапроса" use="required">
				<xs:annotation>
					<xs:documentation>Тип ответа: 1 - сведения одного КБКИ, 2 - сведения всех КБКИ ("Одно окно")</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="РежимЗапроса" type="СправочникРежимыЗапроса" use="required">
				<xs:annotation>
					<xs:documentation>Режим запроса (одиночный/пакетный) на который подготовлен настоящий ответ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
